<a href="https://colab.research.google.com/github/DeepankarAcharyya/Titanic_Dataset/blob/master/Titanic_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

In [22]:
train=pd.read_csv('train.csv',index_col=['PassengerId'])
test=pd.read_csv('test.csv',index_col=['PassengerId'])

In [23]:
train=train.drop(['Name'],axis=1)

In [24]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [25]:
train.head()

             Survived  Pclass     Sex  ...     Fare  Cabin  Embarked
PassengerId                            ...
1                   0       3    male  ...   7.2500    NaN         S
2                   1       1  female  ...  71.2833    C85         C
3                   1       3  female  ...   7.9250    NaN         S
4                   1       1  female  ...  53.1000   C123         S
5                   0       3    male  ...   8.0500    NaN         S

[5 rows x 10 columns]

In [26]:
train['Sex']=labelencoder.fit_transform(train['Sex'].astype(str))
train['Cabin']=labelencoder.fit_transform(train['Cabin'].astype(str))
train['Embarked']=labelencoder.fit_transform(train['Embarked'].astype(str))
train['Ticket']=labelencoder.fit_transform(train['Ticket'].astype(str))

In [27]:
for col in train.columns:
  count = train[col].isna().sum()
  print(col,":",count)

Survived : 0
Pclass : 0
Sex : 0
Age : 177
SibSp : 0
Parch : 0
Ticket : 0
Fare : 0
Cabin : 0
Embarked : 0

In [28]:
train['Age'].fillna(train['Age'].mean(), inplace=True)

In [29]:
train.head()

             Survived  Pclass  Sex   Age  ...  Ticket     Fare  Cabin  Embarked
PassengerId                               ...
1                   0       3    1  22.0  ...     523   7.2500    147         2
2                   1       1    0  38.0  ...     596  71.2833     81         0
3                   1       3    0  26.0  ...     669   7.9250    147         2
4                   1       1    0  35.0  ...      49  53.1000     55         2
5                   0       3    1  35.0  ...     472   8.0500    147         2

[5 rows x 10 columns]

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
y_train=train.Survived
x_train=train.drop(['Survived'],axis=1)

In [32]:
split_data=train_test_split(x_train,y_train)

In [33]:
x_data=split_data[0]
y_label=split_data[2]

test_data=split_data[1]
test_label=split_data[3]

Decision Tree Classifier:

In [34]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [35]:
model=DecisionTreeClassifier(max_depth=12)

In [36]:
model.fit(x_data,y_label)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=12, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [37]:
y_pred = model.predict(test_data)
acc = accuracy_score(test_label, y_pred)
print(acc)

0.8385650224215246

Random Forest Tree:

In [63]:
from sklearn.ensemble import RandomForestClassifier

# Create the model with 100 trees
model = RandomForestClassifier(n_estimators=100, bootstrap = True, max_features = 'sqrt')
# Fit on training data
model.fit(x_data,y_label)

y_pred = model.predict(test_data)
acc = accuracy_score(test_label, y_pred)
print(acc)

0.8430493273542601