<a href="https://colab.research.google.com/github/DeepankarAcharyya/Titanic_Dataset/blob/master/Titanic_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
train=pd.read_csv('train.csv',index_col=['PassengerId'])
test=pd.read_csv('test.csv',index_col=['PassengerId'])

In [ ]:
x_train=train.drop(['Name'],axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [ ]:
train.head()

             Survived  Pclass  Name  Sex  ...  Ticket     Fare  Cabin  Embarked
PassengerId                               ...
1                   0       3   108    1  ...     523   7.2500    147         2
2                   1       1   190    0  ...     596  71.2833     81         0
3                   1       3   353    0  ...     669   7.9250    147         2
4                   1       1   272    0  ...      49  53.1000     55         2
5                   0       3    15    1  ...     472   8.0500    147         2

[5 rows x 11 columns]

In [ ]:
train['Sex']=labelencoder.fit_transform(train['Sex'].astype(str))
train['Cabin']=labelencoder.fit_transform(train['Cabin'].astype(str))
train['Embarked']=labelencoder.fit_transform(train['Embarked'].astype(str))
train['Ticket']=labelencoder.fit_transform(train['Ticket'].astype(str))

In [ ]:
for col in train.columns:
  count = train[col].isna().sum()
  print(col,":",count)

Survived : 0
Pclass : 0
Name : 0
Sex : 0
Age : 0
SibSp : 0
Parch : 0
Ticket : 0
Fare : 0
Cabin : 0
Embarked : 0

In [ ]:
train['Age'].fillna(train['Age'].mean(), inplace=True)

In [ ]:
train.head()

             Survived  Pclass  Name  Sex  ...  Ticket     Fare  Cabin  Embarked
PassengerId                               ...
1                   0       3   108    1  ...     472   7.2500     54         2
2                   1       1   190    0  ...     552  71.2833    128         0
3                   1       3   353    0  ...     633   7.9250     54         2
4                   1       1   272    0  ...     434  53.1000     99         2
5                   0       3    15    1  ...     415   8.0500     54         2

[5 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y_train=train.Survived
x_train=train.drop(['Survived'],axis=1)

In [ ]:
split_data=train_test_split(x_train,y_train)

In [ ]:
x_data=split_data[0]
y_label=split_data[2]

test_data=split_data[1]
test_label=split_data[3]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model=DecisionTreeClassifier(max_depth=12)

In [ ]:
model.fit(x_data,y_label)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=12, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = model.predict(test_data)
acc = accuracy_score(test_label, y_pred)
print(acc)

0.8116591928251121